# Node.js
node_modules/
dist/
examples/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Rust
/crate/target/
/crate/Cargo.lock

# WebAssembly (wasm-pack)
/pkg/

# OS/IDEs
.DS_Store
.vscode/
.idea/
*.swp
*.swo
GEMINI.MD
CLAUDE.MD
.claude/
